body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}
